.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-canvas-default);
}

.login-container {
  flex: 1 0 auto;
  width: 308px;
  max-width: 100%;
  margin: 0 auto;
  padding: 40px 16px 0;
}
